@use '../../base/media' as *;
@use '../../base/mixins' as *;

.cta {
    font: 400 #{rem(14)} / 130% var(--ff-accent);
    padding: rem(8) rem(24);
    border-radius: rem(40);
    display: inline-flex;
    flex-shrink: 0;
    @include transitions(0.3s, cubic-bezier(0.768, 0.304, 0.496, 0.884));
    @include hover {
        opacity: 0.8;
    }

    &--drk {
        background: var(--drk-green);
        color: var(--color-white);
    }

    &--accent {
        background: var(--accent-green);
        color: var(--drk-green);
    }

    &--lght {
        background: var(--lght-green);
        color: var(--drk-green);
    }

    &--olive {
        background: var(--color-olive);
        color: var(--color-white);
    }
}
