@use '../base/media' as *;
@use '../base/mixins' as *;

.owners {
    &__content {
        overflow: hidden;
        position: relative;
        padding-block: rem(114);
        margin-bottom: var(--section-mb);
        border-radius: rem(40);
        background: var(--drk-green);
        color: var(--lght-green);

        @include media('tablet') {
            padding-block: rem(72);
            border-radius: rem(24);
        }

        @include media('mobile') {
            padding-block: rem(56);
            border-radius: rem(12);
        }
    }

    &__descr {
        max-width: rem(851);
        margin: 0 auto;
        text-align: center;
        position: relative;
        z-index: 2;
        padding-inline: var(--container-padding);
    }

    &__title {
        margin-bottom: rem(16);
    }

    &__text {
        font: 400 #{rem(14)} / 150% var(--ff-base);
        margin: 0 auto #{rem(24)};
        max-width: rem(607);
        color: #a1d2a0b2;
    }

    &__man {
        position: absolute;
        bottom: 0;
        max-width: rem(370);
        transform: translateY(20%);
        pointer-events: none;
        @include media('tablet') {
            display: none;
        }

        &.man-lft {
            left: 0;
        }

        &.man-rght {
            right: 0;
        }
    }
}
