@use '../base/media' as *;
@use '../base/mixins' as *;

.footer {
    &__panel {
        display: flex;
        justify-content: space-between;
        gap: rem(32);
        padding-block: rem(96);
        border-top: 1px solid #1a1a1a26;

        @include media('mobile') {
            padding-block: rem(45);
            flex-direction: column;
            align-items: center;
            gap: rem(18);
        }
    }

    &__logo {
        max-width: rem(206);
        align-self: center;

        @include media('tablet') {
            max-width: rem(150);
        }
    }

    &__media {
        display: flex;
        flex-direction: column;
        gap: rem(8);

        @include media('mobile') {
            flex-direction: row;
            gap: rem(6);
            align-items: center;
        }

        li {
            max-width: rem(128);

            @include media('mobile') {
                max-width: rem(96);
            }

            a {
                width: 100%;
                @include transitions(
                    0.3s,
                    cubic-bezier(0.768, 0.304, 0.496, 0.884)
                );
                @include hover {
                    opacity: 0.8;
                }
            }
        }
    }

    &__controls {
        max-width: rem(600);
        width: 100%;
        padding-block: rem(5);
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: rem(20);
        font: 400 #{rem(14)} / 150% var(--ff-base);
        color: var(--color-dark_half);

        @include media('tablet') {
            max-width: rem(400);
        }

        @include media('mobile') {
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            max-width: 100%;
        }
    }

    &__nav {
        ul {
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            gap: rem(16);

            @include media('mobile') {
                gap: rem(8);
            }

            li {
                list-style-type: none;
            }

            a {
                @include transitions(
                    0.3s,
                    cubic-bezier(0.768, 0.304, 0.496, 0.884)
                );
                @include hover {
                    color: var(--accent-green);
                }
            }
        }
    }

    &__contact {
        a {
            @include transitions(
                0.3s,
                cubic-bezier(0.768, 0.304, 0.496, 0.884)
            );
            @include hover {
                color: var(--accent-green);
            }
        }
    }

    &__address {
        max-width: rem(169);
        @include transitions(0.3s, cubic-bezier(0.768, 0.304, 0.496, 0.884));
        @include hover {
            color: var(--accent-green);
        }
    }

    &__title {
        font: 800 #{rem(14)} / 130% var(--ff-base);
        margin-bottom: rem(16);
        color: var(--color-dark);

        @include media('mobile') {
            font-size: rem(22);
            margin-bottom: rem(12);
        }
    }

    &__info {
        border-top: 1px solid #1a1a1a26;
        padding-block: rem(16);
        @include media('mobile') {
            padding-block: rem(24);
        }

        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: rem(20);
            @include media('mobile') {
                flex-direction: column;
                gap: rem(32);
            }
        }
    }

    &__copy {
        font: 400 #{rem(14)} / 150% var(--ff-base);
    }

    &__legal {
        display: flex;
        align-items: center;
        gap: rem(48);
        @include media('mobile') {
            gap: rem(24);
        }

        li {
            font: 400 #{rem(14)} / 150% var(--ff-base);

            a {
                font: inherit;
                @include transitions(
                    0.3s,
                    cubic-bezier(0.768, 0.304, 0.496, 0.884)
                );
                @include hover {
                    color: var(--accent-green);
                }
            }
        }
    }

    &__socials {
        display: flex;
        align-items: center;
        gap: rem(8);

        li {
            width: rem(24);
            height: rem(24);
        }

        a {
            display: flex;
            width: 100%;
            height: 100%;
            @include transitions(
                0.3s,
                cubic-bezier(0.768, 0.304, 0.496, 0.884)
            );
            @include hover {
                transform: scale(1.05);
            }
        }
    }
}
